.Body {
  margin-left: 15%;
  margin-right: 15%;
}

form {
  width: 70%;
  
}

.process-images img {
  border: 4px solid #44556B;
  border-radius: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.team-card-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
}

html {
  scroll-behavior: smooth;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  filter: brightness(50%);
  border: 4px solid #44556B;
  border-radius: 10px;
}

.carousel-item-text {
  position: absolute;
  font-size: 20px;
  right: 10%;
  left: 10%;
  top: 10%;
  color: white;
}

a {
  color: #3071DD;
  text-decoration: none;
}

a:visited {
  color: #3071DD;
}

