.Body {
  margin-left: 15%;
  margin-right: 15%;
}

form {
  width: 70%;
  
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.team-card-gallery {
  display: flex;
  flex-wrap: wrap;
}


html {
  scroll-behavior: smooth;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  filter: brightness(50%);
}

.carousel-item-text {
  position: absolute;
  font-size: 20px;
  right: 10%;
  left: 10%;
  top: 10%;
  color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

